* {
  font-family: Arial;
}
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #56baed;
  height: 100px;
  margin: 0 auto;
}
.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.7;
  z-index: 0;
}
.baner{
    background-color: rgba(232, 234, 237, 1);
    border-radius: 0 0 20% 20%;
    border-style: none none solid none;
    border-width: 5px;
    text-align: center;
    position: fixed;
    padding-left: 40%;
    padding-right: 40%;
    z-index: 9;
}
.main{
    background-color: rgba(232, 234, 237, 1);
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 13%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-radius: 25px;
    border-width: 3px;
    opacity: 0.97;
    position: fixed;
    z-index: 10;
}
.gif{
  margin-bottom: 10%;
  margin-top: 5%;
}